.container {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);

	border-bottom: solid 1px gray;
	// background-color: rgb(243, 243, 243);

	//? css pre logo
	.navLogo {
		max-width: 280px;
		margin-left: 5px;
	}

	//? css pre navigáciu
	.navigation {
		margin: 20px 0;
		a {
			text-decoration: none;
			color: black;

			justify-self: center;

			margin: 20px 0 10px 5%;

			padding: 10px 5%;

			&.active {
				color: rgb(255, 0, 0);
			}
		}
		a:first-child {
			margin-left: 7%;
		}

		a:hover,
		a:active,
		a:focus {
			cursor: pointer;
			transition: 0.5s all ease;
		}
	}

	//? css pre button
	.btn {
		justify-self: end;
		max-width: 120px;
		margin-right: 5%;
	}
}
