.container_aboutMe {
  //   background-color: rgb(240, 192, 192);

  margin: 15px 10px 0 10px;

  //   padding: 0 10px;

  img {
    width: 55%;
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }

  h3 {
    text-align: center;
  }

  p {
    margin-bottom: 5px;
  }
}

.introduction {
  text-align: center;
}

.border {
  margin-top: 10px;
  border-bottom: 3px solid grey;
}

.grid_35_65 {
  display: grid;
  grid-template-columns: 35% 65%;

  margin-bottom: 5px;
}

.grid_15_85 {
  display: grid;
  grid-template-columns: 15% 85%;

  margin-bottom: 5px;
}

.grid_15_45_40 {
  display: grid;
  grid-template-columns: 15% 45% 40%;

  margin-bottom: 5px;
}

.grid_25_25_25_25 {
  display: grid;
  grid-template-columns: 15% 35% 15% 35%;

  margin-bottom: 5px;
}

.grid1_1 {
  grid-column: 1;
  grid-row: 1;
}
.grid2_1 {
  grid-column: 2;
  grid-row: 1;
}
.grid2_3 {
  grid-column: 2;
  grid-row: 3;
}
.grid2_4 {
  grid-column: 2;
  grid-row: 4;
}

.grid3_1 {
  grid-column: 3;
  grid-row: 1;
}

.grid4_1 {
  grid-column: 4;
  grid-row: 1;
}

.container_hobbies {
  margin-left: 8%;
}

//! ---------Media Queries---------

@media (min-width: 350px) {
  .container_aboutMe {
    img {
      width: 170px;
    }
  }
}

@media (min-width: 370px) {
  .grid_15_45_40 {
    grid-template-columns: 15% 40% 40%;
  }

  .container_hobbies {
    margin-left: 14%;
  }
}

@media (min-width: 400px) {
  .grid_35_65 {
    grid-template-columns: 37% 63%;
  }
}

@media (min-width: 420px) {
  .udaje,
  .znalosti {
    margin-left: 3%;
  }
}

@media (min-width: 440px) {
  .udaje,
  .znalosti {
    margin-left: 13%;
  }

  .grid_15_45_40 {
    grid-template-columns: 17% 43% 25%;
  }

  .grid_15_85 {
    grid-template-columns: 17% 63%;
  }
}

@media (min-width: 500px) {
  .container_aboutMe {
    font-size: 1.1rem;
  }

  .grid_25_25_25_25 {
    grid-template-columns: 15% 33% 15% 20%;
  }

  .grid_35_65 {
    grid-template-columns: 160px 63%;
  }
}

@media (min-width: 540px) {
  // .udaje {
  //   margin-left: 1%;
  // }

  // .skuska {
  //   display: grid;
  //   grid-template-columns: 26% 33% 15% 20%;
  //   grid-template-rows: 10% 25% 25% 25%;
  // }

  // .grid_15_85 {
  //   display: block;
  // }

  // .grid_25_25_25_25 {
  //   display: block;
  // }

  // .skuska_grid1_1 {
  //   grid-column: 1;
  //   grid-row: 1;
  // }

  // .skuska_grid1_2 {
  //   grid-column: 1;
  //   grid-row: 2;
  // }
  // .skuska_grid2_2 {
  //   grid-column: 2;
  //   grid-row: 2;
  // }
  // .skuska_grid5_1 {
  //   grid-column: 5;
  //   grid-row: 1;
  // }
}
