.topNavigationContainer {
	height: 55px;
	display: flex;
	align-items: center;
}

//? logo
.navLogo {
	max-width: 290px;
	margin: 0 5px;
}

//? button
.btn {
	padding: 6px;

	border-radius: 48.5%;
	border: none;
}

//? theme button
.theme_btn {
	margin-left: auto;
	margin-right: 1.2%;

	cursor: pointer;
}

//? home button
.home_btn {
	margin: 0 0.5%;

	a:active,
	a:focus,
	a:hover {
		background-color: rgba($color: #000000, $alpha: 0) !important;
	}
}

.documentation_nav {
	margin: 0 auto;

	a:first-child {
		margin-left: 17%;
	}

	a {
		padding: 12px 25px;
		text-decoration: none;

		font-size: 1.1em;
	}
}

//! ---------Media Queries---------

@media (max-width: 780px) {
	.documentation_nav {
		a:first-child {
			margin-left: 14%;
		}
		a {
			padding: 12px 23px;
		}
	}
}
@media (max-width: 720px) {
	.documentation_nav {
		a:first-child {
			margin-left: 8%;
		}
		a {
			padding: 12px 18px;
		}
	}
}
@media (max-width: 670px) {
	.documentation_nav {
		a:first-child {
			margin-left: 6%;
		}
		a {
			padding: 12px 20px;
		}
	}
}

@media (max-width: 600px) {
	.documentation_nav {
		a:first-child {
			margin-left: 4%;
		}
		a {
			padding: 12px 18px;
			font-size: 1em;
		}
	}
}

@media (max-width: 570px) {
	.navLogo {
		width: 57px;
		margin: 0 5px;
	}
}

@media (max-width: 525px) {
	.documentation_nav {
		a:first-child {
			margin-left: 5%;
		}

		a {
			padding: 10px 10px;
		}
	}
}

@media (max-width: 405px) {
	.documentation_nav {
		a:first-child {
			margin-left: 0%;
		}

	}
}

@media (max-width: 375px) {
	.btn {
		padding: 6px;
	}

	.documentation_nav {
		a {
			padding: 10px 8px;
		}
	}
	.navLogo {
		margin: 0 4px;
	}
}
@media (max-width: 359px) {
	.btn {
		padding: 4px;
	}

	.documentation_nav {
		a {
			padding: 10px 6px;
		}
	}
}

@media (max-width: 340px) {
	.btn {
		padding: 3px;
	}

	.documentation_nav {
		a {
			padding: 10px 5px;
		}
	}
}

@media (max-width: 320px) {
	.btn {
		padding: 3px;
	}
}
